

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>New Post</title>
  {{form.media}}

{% comment %} {% block styles %} 
  <link rel="stylesheet" href="{% static 'css/base.css' %}">

{% endblock %} {% endcomment %}

</head>

<body>

  <div class="panel panel-default">
    <div class="panel-body">
      <form action="" method="post"  enctype="multipart/form-data">

        {% csrf_token%}
        <div class="form-group text-center">
          <input type="submit" class="btn btn-primary sign-up-button" value="Share">
        </div>
        <input type="hidden" name="next" value="{{next}}">
      </form>
    </div>
  </div>

   {% block scripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
  {% endblock %}

</body>

</html>